* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.carousel {
  margin: 0;
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  margin: 0;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
