<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CICE - Parcel</title>
  </head>
  <body>
    <header>
      <span class="header__logo"></span>
      <input type="text" class="header__browse" />
    </header>
    <main>
      <section class="categories">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolor dolorem eaque eos facilis fugit libero molestiae mollitia nostrum obcaecati quas quisquam reiciendis repudiandae soluta tempora totam vitae voluptatem, voluptatum?</p>

      </section>
    </main>
    <script src="./index.js"></script>
  </body>
</html>
