.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.box:nth-child(1) {
  grid-column: 1 / 4;
}

.box:nth-child(4) {
  grid-column: span 3;
}

.box:nth-child(3),
.box:nth-child(4) {
  grid-row: 2 / 4;
}

.box:nth-child(5),
.box:nth-child(6) {
  grid-column: span 2;
}
