:root {
  /* Palette */
  --primary-color: hsl(226, 100%, 50%);
  --on-primary-color: indianred;

  --secondary-color: rebeccapurple;
  --on-secondary-color: white;

  --gray-color: hsl(0, 0%, 90%);
  --gray-color-900: hsl(0, 0%, 50%);

  /* Typography */
  --body-font: 'Open sans';
  --title-font: 'Open sans';
  --body-size: 16px;
  --subtitle-size: 14px;

  /* Spacing */
  --base: 0.25rem;
  --s: calc(var(--base) * 2);
  --m: calc(var(--base) * 4);
  --l: calc(var(--base) * 8);

  /* Misc */
  --content-width: 40rem;
  --shadow: 0px 3px 15px 0px hsla(0, 0%, 0%, 0.3);
  --radius: 5px;
}
