.input {
  border: none;
  border-bottom: 5px solid var(--gray-color-900);
  padding: var(--m);
  background-color: var(--gray-color);
  outline: none;
}

.input:focus {
  border-bottom-color: var(--primary-color);
}

.required {
  border-bottom-color: red;
}
