.wrapper {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}

.span-column-1 {
  flex: 1;
}

.span-column-4 {
  flex: 4;
}

.span-row-1 {
  flex: 1;
}

.span-row-4 {
  flex: 4;
}
.span-row-3 {
  flex: 3;
}
