.wrapper {
  display: flex;
}

.row {
  display: flex;
  flex-direction: colum;
}

.span-column-1 {
  flex: 1;
}

.span-column-4 {
  flex: 4;
}

.span-row-1 {
  flex: 1;
}

.span-row-4 {
  flex: 4;
}
