:root {
  --base-unit: 1rem;
  --m: calc(var(--base-unit) * 2);
  --x: calc(var(--base-unit) * 3);

  --red: #ff2335;
  --red-900: hsl(360, 100%, 69%);
  --primary-color: blue;
  --on-primary-color: white;

  --surface-color: white;
  --on-surface-color: #181818;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr 20px);
  grid-template-rows:
    200px
    1fr
    100px;
  font-size: 16px;
  padding: 1rem;
  grid-template-areas: 'caja caja caja';
}

.box {
  grid-area: caja;
  font-size: 20px;
  padding: var(--x);
  border-color: var(--red);
}
