.wrapper {
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
}

.header,
.main,
.footer {
  display: flex;
}

.header > div:not(.box) {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.span-1 {
  flex: 1;
}

.span-2 {
  flex: 2;
}

.span-3 {
  flex: 3;
}

.span-4 {
  flex: 4;
}
