.wrapper {
  display: flex;
}

.aside,
.main {
  display: flex;
  flex-direction: column;
}

.aside {
  flex: 1;
}

.main {
  flex: 2;
}

.links {
  flex: 2;
}

.content {
  flex: 4;
}

.hidden {
  visibility: hidden;
}
